.all-cocktails__grid {
    display: grid;
    background-color: #FFE0E4;
    max-width: 70%;
    padding: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    margin-bottom: 2em;
    margin-right: 2em;
    border-radius: 9px;
    font-family: 'Kiwi Maru', serif;
}

.cocktails-loading {
    grid-column: 1 / span 3;
}

@media screen and (max-width: 1400px) {
    .all-cocktails__grid {
        grid-template-columns: 1fr 1fr;
        margin-right: auto;
        margin-top: 2rem;
        max-width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .all-cocktails__grid {
        grid-template-columns: 1fr;
    }
}