@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Kiwi+Maru&family=Oswald&family=Yeseva+One&display=swap');

body {
    background-color: #FDD1C4;
    text-align: center;
  }

  * {
    box-sizing: border-box;
  }
  
  #page-wrap {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  