/* @import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Rubik:wght@300&display=swap');

* {
  font-family: 'Kiwi Maru', serif;
} */

body {
    background-color: #FDD1C4;
    text-align: center;
  }

  * {
    box-sizing: border-box;
  }
  
  #page-wrap {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  