.burger-navbar-list {
    list-style: none;
    text-decoration: none;
    padding: 1em;
}

.burger-navbar-list__item {
    text-align: left;
    font-family: 'Oswald', sans-serif;
    transition: color 0.2s;
    font-size: 1.5em;
    margin-bottom: 30px;
}

a:hover {
    color: #ffffff;
}

a:focus {
    color: #ffffff;
}

a {
    color: #373a47;
    text-decoration: none;
    font-weight: 500;
}

.bm-burger-button {
    position: fixed;
    width: 30px;
    height: 30px;
    left: 5.5%;
    top: 69px;
  }
  
  .bm-burger-bars {
    background: #373a47;
  }
  
  .bm-burger-bars-hover {
    background: #bd5454;
  }
  
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  .bm-cross {
    background: #373a47;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations 
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #FCACAC;
    padding: 1.5em 0.5em 0;
    font-size: 1.15em;
  }
  
  .bm-item-list {
    padding: 0.1em;
  }
  
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  
  .bm-item:hover {
    color: #8a1e1e;
  }

  .NavLogo {
    height: 10vh;
  }