.carousel {
  position: relative;
}

.carousel__right-arrow {
  position: absolute;
  bottom: 1rem;
  right: 5.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
}

.carousel__left-arrow {
  position: absolute;
  bottom: 1rem;
  left: 5.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
}

@media screen and (max-width: 1023px) {
  .carousel {
    margin: 0 auto;
  }
}
