.carousel {
  position: relative;
  height: 28rem;
  width: 20rem;
  margin: 2rem 1rem 2rem auto;
}

.carousel__right-arrow {
  position: absolute;
  bottom: 5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
}

.carousel__left-arrow {
  position: absolute;
  bottom: 5rem;
  left: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

@media screen and (max-width: 1023px) {
  .carousel {
    margin: 0 auto;
  }
}
