@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Rubik:wght@300&display=swap');

.carousel {
  position: relative;
  height: 100vh;
  justify-content: center;
  margin: 1.5rem auto 1.5rem 0.75rem;
}

.carousel__right-arrow {
  position: absolute;
  top: 31rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
}

.carousel__left-arrow {
  position: absolute;
  top: 31rem;
  left: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
}

.carousel__image {
  width: 30rem;
  height: 30rem;
  border-radius: 10px;
}

.carousel__title {
  font-family: 'Kiwi Maru', serif;
}