.cocktail-filter {
    position: sticky;
    top: 4%;
    background-color: #FFE0E4;
    margin-left: 2em;
    padding: 1em;
    width: 21em;
    float: left;
    font-family: 'Kiwi Maru', serif;
    border-radius: 9px;
    margin-bottom: 2em;
}

.cocktail-filter__clear-filter,
.cocktail-filter__spirit-button {
    padding: 0.6em;
    border-radius: 9px;
    border-style: solid;
    border-width: 1px;
    font-family: inherit;
    width: 80px;
}

.cocktail-filter__clear-filter {
    width: 180px;
}

.cocktail-filter__spirits {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1em;
}

.cocktail-filter__filters {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    justify-content: space-evenly;
    height: 300px;
}

.cocktail-filter__random-selection-button,
.cocktail-filter__random-drink-button,
.cocktail-filter__popular-button,
.cocktail-filter__non-alcoholic-button {
   border-style: solid;
   border-width: 1px;
   width: 75%;
   background-color: #CEFFAD;
   border-radius: 15px;
   font-family: inherit;
   font-size: 1em;
   transition: .3s;
}

.cocktail-filter__random-selection-header,
.cocktail-filter__random-drink-header,
.cocktail-filter__popular-header,
.cocktail-filter__non-alcoholic-header {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.cocktail-filter__random-selection-button:hover,
.cocktail-filter__random-drink-button:hover,
.cocktail-filter__popular-button:hover,
.cocktail-filter__non-alcoholic-button:hover,
.cocktail-filter__random-selection-button:focus,
.cocktail-filter__random-drink-button:focus,
.cocktail-filter__popular-button:focus,
.cocktail-filter__non-alcoholic-button:focus {
    background-color: #B3FC8A;
    transform: scale(1.05);

}

.cocktail-filter__clear-filter:hover,
.cocktail-filter__spirit-button:hover,
.cocktail-filter__spirit-button:focus {
    font-weight: 600;
    background-color: #fdc4f7;
    transform: scale(1.05);
}

@media screen and (max-width: 1400px) {
    .cocktail-filter {
        float: none;
        width: 90%;
        margin: auto;
        height: 110px;
        overflow: hidden;
        transition: .3s;
        z-index: 1;
        box-shadow: 3px 3px 9px;
    }
    .cocktail-filter__clear-filter {
        width: 180px;
    }
    .cocktail-filter__spirits-header::after {
        content: " ⌵";
    }
    .cocktail-filter__spirits {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
    }
    .cocktail-filter__filters {
        flex-direction: row;
        height: 110px;
    }
    .cocktail-filter__random-selection,
    .cocktail-filter__random-drink,
    .cocktail-filter__popular,
    .cocktail-filter__non-alcoholic {
        margin: auto;
    }
    .cocktail-filter__random-selection-button,
    .cocktail-filter__random-drink-button,
    .cocktail-filter__popular-button,
    .cocktail-filter__non-alcoholic-button {
        width: 200px;
    }
    .cocktail-filter:hover {
        height: 290px;
    }
}

@media screen and (max-width: 900px) {
    .cocktail-filter__filters {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px) {
    .cocktail-filter:hover {
        height: 360px;
    }
    .cocktail-filter__spirits {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (max-width: 500px) {
    .cocktail-filter__filters {
        height: 215px;
    }
    .cocktail-filter:hover {
        height: 450px;
    }
}
