.cocktail-details {
    position: fixed;
    background: linear-gradient(to bottom right, #fdc4f7, 30%, #FCACAC);
    top: 2em;
    right: 8em;
    padding: 1em;
    border-radius: 6px;
    box-shadow: 9px 9px 36px;
    max-height: 600px;
    overflow: auto;
}

.cocktail-details__container {
    display: flex;
}

.cocktail-details__image {
    height: 369px;
    width: auto;
    border-radius: 9px;
    margin: .6em;
}

.cocktail-details__text {
    display: inline-block;
    text-align: left;
    margin: 1em;
    max-width: 369px;
    font-family: 'Kiwi Maru', serif;
}

.cocktail-details__button {
    display: block;
    margin: auto;
    border-style: none;
    background-color: transparent;
    font-size: 30px;
    transition: .3s;
}

.cocktail-details__button:hover {
    transform: translateY(6px);
} 

@media screen and (max-width: 1200px) {
    .cocktail-details {
        top: 10em;
        right: 5%;
        max-height: 450px;
    }
}

@media screen and (max-width: 900px) {
    .cocktail-details__container {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .cocktail-details {
        width: 90%;
    }
    .cocktail-details__image {
        width: 90%;
        height: auto;
    }
}
