.cocktail-filter {
    position: sticky;
    top: 15%;
    background-color: #FFE0E4;
    margin-left: 2em;
    padding: 1em;
    width: 17em;
    float: left;
}

.cocktail-filter__spirits {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1em;
}

.cocktail-filter__filters {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    justify-content: space-evenly;
    height: 300px;
}

.cocktail-filter__random-selection-button,
.cocktail-filter__random-drink-button,
.cocktail-filter__popular-button,
.cocktail-filter__non-alcoholic-button {
   border-style: none;
   width: 75%;
   background-color: #CEFFAD;
   border-radius: 15px;
}