.cocktail-details {
    position: absolute;
    background-color: #FCACAC;
    top: 60%;
    left: 30%;
    padding: 1em;
    border-style: solid;
}

.cocktail-details__image {
    height: 369px;
    width: auto;
}

.cocktail-details__text {
    display: inline-block;
    text-align: left;
    margin: 1em;
    max-width: 300px;
}

.cocktail-details__button {
    display: block;
    margin: auto;
}