.home__main {
  background-color: #FFE0E4;
  border-radius: 9px;
  width: 62%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "carousel carousel intro intro intro"
    "carousel carousel guide-one guide-two guide-three";
}

.home__carousel {
  margin: 1rem 0 1rem 1rem;
  grid-area: carousel;
}

.home__intro {
  font-family: 'Kiwi Maru', serif;
  border-radius: 9px;
  background: linear-gradient(to bottom right, #fdc4f7, 30%, #FCACAC);
  padding: 1rem;
  margin: 1rem 1rem 0.5rem 0;
  grid-area: intro;
}

.home__guide {
  font-family: 'Kiwi Maru', serif;
  border-radius: 9px;
  background: linear-gradient(to bottom right, #fdc4f7, 30%, #FCACAC);
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem 1rem 0;
}

#guide-one {
  grid-area: guide-one;
}

#guide-two {
  grid-area: guide-two;
}

#guide-three {
  grid-area: guide-three;
}

@media screen and (min-width:768px) and (max-width: 1023px) {
  .home__main {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "intro intro"
      "carousel guide-one"
      "carousel guide-two"
      "carousel guide-three" 
  }

  .home__carousel {
    margin: 0 1rem 1rem 1rem;
  }

  .home__intro {
    margin: 1rem;
  }

  .home__guide {
    margin: 0 1rem 1rem 0;
  }
}

@media screen and (max-width: 767px) {
  .home__main {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "carousel"
      "intro"
      "guide-one"
      "guide-two" 
      "guide-three"
  }

  .home__carousel {
    margin: 1rem auto;
  }
  
  .home__intro {
    margin: 0 1rem 1rem 1rem;
  }

  .home__guide {
    margin: 0 1rem 1rem 1rem;
  }

}



