.home__main {
  display: flex;
  background-color: #FFE0E4;
  border-radius: 9px;
  width: 75%;
  height: 28.5rem;
  margin: 0 auto;
}

.home__text {
  font-family: 'Kiwi Maru', serif;
  font-size: 2rem;
  width: 60%;
  height: 24.5rem;
  border-radius: 9px;
  background: linear-gradient(to bottom right, #fdc4f7, 30%, #FCACAC);
  margin: 2rem auto 2rem 1rem;
  padding: 2.5rem;
}

.home__guide {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}

.home__guide-text {
  font-family: 'Kiwi Maru', serif;
  font-size: 1rem;
  background-color: #FFE0E4;
  width: 30%;
  padding: 1rem;
  border-radius: 9px;
}

.home__guide-text:hover {
  transform: scale(1.1);
  background-color: #CEFFAD;
}

@media screen and (min-width:768px) and (max-width: 1023px) {
  .home {
    flex-direction: column;
  }

  .home__text {
    font-size: 1.2rem;
    margin: 0 auto;
    width: 67%;
  }
}

@media screen and (max-width: 767px) {
  .home {
    flex-direction: column;
  }

  .home__text {
    font-size: 1rem;
    margin: 0 auto;
    width: 75%;
  }
}

@media screen and (max-width: 800px) {
  .home {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .home__text {
    font-size: 1.5rem;
    width: 95%;
    padding-left: 5%;
  }
}

