.navbar-list {
    list-style: none;
    text-decoration: none;
    display: flex;
    padding: 1em;
    justify-content: center;
    align-items: center;
}

.navbar-list__item {
    list-style: none;
    margin-right: 30px;
}

a:hover {
    color: #8a1e1e;
}

a:focus {
    color: #8a1e1e;
}

a {
    color: #373a47;
    text-decoration: none;
    font-weight: 500;
}