.navbar {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:480px) {
    .navbar {
    padding-top: 15%;
}

@media (max-width: 900px) {
    .navbar{
        padding-top: 20%;
    }
}
